*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.emoji{
    font-size: 50px;
    user-select: none;  
    cursor: pointer; 
}
.open{
    display:none;    
}
.close{
    display: none;
}
.active{
    display: block;
}
#btn{
    display: block;
    position:relative;
    margin-top: 10px;

}
